*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #051923;

    --dark-900: #80CED7;
    --dark-700: #003249;
    --dark-400: #002435;

    --blue-900: #80CED7;

    --gray-100: #CCDBDC;
    --green-900: #80FFDB;
    --red-900: #FF3F4B;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background: var(--dark-700);
}

body, input, textarea, select, button{
    font: 400 1rem sans-serif; //1rem = 16px
}

@media (max-width: 720px){
    html{
        font-size: 87.5%; // 14px;
    }
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; // 15px;
    }
}